<div class="row">
    <div class="col-md-3">
        <label class="control-label">Tipo:</label> {{requisicao.tipo}}
    </div>
    <div class="col-md-3">
        <label class="control-label">Data:</label> {{requisicao.data}}
    </div>
    <div class="col-md-6">
        <label class="control-label">Assunto:</label> {{requisicao.assunto}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="control-label">Data da Revisão:</label> {{requisicao.data_revisao}}
    </div>
    <div class="col-md-4">
        <label class="control-label">Revisor:</label> {{requisicao.revisor}}
    </div>
    <div class="col-md-4">
        <label class="control-label">Prioridade:</label> {{requisicao.prioridade}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label class="control-label">Recurso:</label> {{requisicao.recurso}}
    </div>
    <div class="col-md-4">
        <label class="control-label">Solução:</label><p>{{requisicao.solucao}}</p>
    </div>
    <div class="col-md-4">
        <label class="control-label">Prioridade:</label> {{requisicao.prioridade}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-default fa fa-plus" ng-click="newMovimentacao()"></button>
    </div>
    <div class="col-md-6 right">
        <input type="text" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="gridStyle col-lg-12" ng-grid="gridMovimentacao"></div>
</div>
<div class="row">
    <a href="#" class="btn btn-default fa fa-save" ng-click="edit()"></a>
</div>
@Html.Partial("AnexoTemplate")
@Html.Partial("MovimentacaoTemplate")







