
@{
    ViewBag.Title = "Férias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="app">
    <div ng-controller="feriasController">
        <form ng-submit="add()" name="form">
            @Html.Partial("RequisicaoTemplate")
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Colaborador</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="funcionario.nome" readonly required />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="open()">Selecionar</button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Inicio do Gozo</label>
                    @*<input type="text" class="form-control datepicker" ng-model="ferias.inicio_gozo" data-provide="datepicker" data-date-format="dd/mm/yyyy" />*@
                    <div class="input-group">

                        <input type="text" class="form-control date" datepicker-popup="dd/MM/yyyy" ng-model="ferias.inicio_gozo" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Fim do Gozo</label>
                    <div class="input-group">
                        <input type="text" class="form-control date" datepicker-popup="dd/MM/yyyy" ng-model="ferias.fim_gozo" is-open="opened" min-date="minDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label class="control-label">Dias Abono</label>
                    <input type="number" class="form-control" ng-model="ferias.dias_abono" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="control-label">Observação</label>
                    <textarea class="form-control" ng-model="ferias.observacao"></textarea>
                </div>

            </div>
            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Salvar</button>
            <button class="btn btn-default" type="reset">Limpar</button>
        </form>
        <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
        @Html.Partial("FuncionarioModal")
    </div>
</div>
<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $('.date').mask('99/99/9999');
    });
</script>

@Scripts.Render("~/scripts/app/controller/ferias.controller.js")
@Scripts.Render("~/scripts/app/funcoes.js")

