<script type="text/ng-template" id="movimentacao.html">
    <form ng-submit="ok()">
        <div class="modal-header">
            <h3 class="modal-title">Movimentação</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="form-group">
                    <label class="control-label">Anotação</label>
                    <textarea cols="30" rows="10" class="form-control" ng-model="movimentacao.anotacao"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-default btn-file"><span class="fileinput-new">Arquivo</span><span class="fileinput-exists">Alterar</span><input type="file" ng-file-select="onFileSelect($files)" multiple></span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                </div>
                @*<input type="file" ng-file-select="onFileSelect($files)" multiple>*@
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit">Salvar</button>
            <button class="btn btn-default" ng-click="cancel()">Cancelar</button>
        </div>
    </form>
</script>
