<div class="row">
    <div class="form-group col-md-4">
        <label for="tipo">Tipo</label>
        <select id="tipo" class="form-control" ng-model="tipo" required>
            <option value="0">Solicitação</option>
            <option value="1">Tarefa</option>
        </select>
    </div>

    <div class="form-group col-md-4">
        <label for="prioridade">Prioridade</label>
        <select id="prioridade" ng-options="prioridade" class="form-control" required>
            <option value="0">Baixa</option>
            <option value="1">Média</option>
            <option value="2">Alta</option>
        </select>
    </div>
    <div class="form-group col-md-4">
        <label for="assunto">Assunto</label>
        <select ng-options="assunto.descricao for assunto in assuntos" ng-model="assunto" class="form-control" required></select>
    </div>
</div>   
<div class="row">
    <div class="form-group col-md-12">
        <label for="tipo">Recurso</label><br />
        @*<input type="text" class="form-control" ng-model="recurso" />*@
        <div class="tag-input-ctn">
            <div data-ng-repeat="login in logins" class="input-tag">
                {{login}}
                <div class="delete-tag" data-ng-click="deleteTag($index)">&times;</div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="login" data-delete-tag="deleteTag()" list="logins">
                <span class="input-group-btn">
                    <a class="btn fa fa-check" ng-click="addTag($event)"></a>
                </span>
            </div>
        </div>
    </div>
</div>  
<datalist id="logins">
    <option ng-repeat="usuario in usuarios" value="{{usuario.login}}" label="{{usuario.nome}}">
</datalist>